{% extends "base.html" %}
{% block header %}
Author info
{% endblock %}
{% block content %}

{% from "forms/macros.html" import render_field %}
<form action="{{ url_for('update_author', id=author.id) }}" method="post" class="form">
      <dl>                
        <input type=hidden value="{{ csrf_token }}">
        <dt>Name:
        {{ render_field(update_form.text, class="input text", value=author.name) }}
        <dd><input type=submit value="Update">
      </dl>
</form>

<dt>Books:
{% for book in author.books %}
  <li><a href="{{ url_for('books_list') }}/{{book.id}}">{{book.title}}</a></li>
{% endfor %}



{% endblock %}